<div id="<%= player.id %>">
    <div class='name'>
        <%= player.name %>
    </div>
    <div class="scoresheet">
        <%= render :partial => 'frame', :collection => player.frames %>
    </div>
</div>