<!DOCTYPE html>
<html>
    <head>
        <title>Bowler</title>
        <%= stylesheet_link_tag "styles" %>
    </head>
    <body>
        <h1><%= @title %></h1>
        <%= yield %>
        <div class='nav'>
            <%= link_to 'All Games', games_path %>
        </div>
    </body>
</html>
